.Choice-page {
    background: #4e54c8;
    height: 100%;
    min-height: 100vh;
    width: 100%;

}

.navbar{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: cornflowerblue;
}

.logo2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid cyan;

}