@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* box-sizing: border-box; */
  font-family: "Exo", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4e54c8;


}

a {
  text-decoration: none;
  list-style: none;
  color: white;
}

p,
li {
  color: white;
  font-size: 12px;
  list-style: none;

}

.bold {
  font-weight: bold;
}
/* COULEUR DU SITES 

Violet : #4E54C8
Rouge : #FB3434
Jaune : #FFA800
Blanc : #FFFF


*/
