
body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    text-decoration: none;
    list-style: none;
    color: white;
  }
  
  /* Color Theme Swatches in Hex */
  .Sonnen-Charger-1-hex { color: #D94E5A; }
  .Sonnen-Charger-2-hex { color: #034AA6; }
  .Sonnen-Charger-3-hex { color: #162C40; }
  .Sonnen-Charger-4-hex { color: #05DBF2; }
  .Sonnen-Charger-5-hex { color: #05F2F2; }
  
  /* Color Theme Swatches in RGBA */
  .Sonnen-Charger-1-rgba { color: rgba(216, 78, 89, 1); }
  .Sonnen-Charger-2-rgba { color: rgba(3, 73, 165, 1); }
  .Sonnen-Charger-3-rgba { color: rgba(21, 44, 63, 1); }
  .Sonnen-Charger-4-rgba { color: rgba(4, 218, 242, 1); }
  .Sonnen-Charger-5-rgba { color: rgba(4, 242, 242, 1); }
  
  /* Color Theme Swatches in HSLA */
  .Sonnen-Charger-1-hsla { color: hsla(354, 64, 57, 1); }
  .Sonnen-Charger-2-hsla { color: hsla(213, 96, 33, 1); }
  .Sonnen-Charger-3-hsla { color: hsla(208, 49, 16, 1); }
  .Sonnen-Charger-4-hsla { color: hsla(185, 96, 48, 1); }
  .Sonnen-Charger-5-hsla { color: hsla(180, 96, 48, 1); }